.modal_wrap {
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.6);
  z-index: 18000;
  box-sizing: border-box;
}

.zoomContent {
  position: relative;
}

.zoomContent img {
  display: block;
  width: 760px;
  height: 500px;
  /*aspect-ratio: 3 / 2;*/
  object-fit: cover;
}

.zoomContent p {
  width: 760px;
  line-height: 20px;
}

.zoomContent .item {
  height: 280px;
  background-color: rgb(244, 255, 242);
  overflow: auto;
}

.zoomContent .edittime {
  position: relative;
  font-size: 11px;
}

.modal_wrap input {
  display: none;
}

.modal_overlay {
  display: flex;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s, transform 0s 0.5s;
  transform: scale(0);
}

.modal_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal_content {
  align-self: center;
  position: fixed;
  inset: 0;
  width: 800px;
  height: auto;
  min-height: 860px;
  background: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  margin: 50px auto;
  transform: scale(0.3);
  transition: 0.5s;
}

.close_button {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 30px;
  color: #f0f0f0;
  cursor: pointer;
}

.modal_wrap input:checked~.modal_overlay {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s;
}

.modal_wrap input:checked~.modal_overlay .modal_content {
  transform: scale(1);
}

.zoomContent {
  position: relative;
  width: 100%;
  line-height: 50px;
  box-sizing: border-box;
}

.zoomContent form {
  height: auto;
  box-sizing: border-box;
}

.zoomContent select {
  display: block;
  width: calc(100% - 40px);
  margin: auto;
  padding: 10px;
  border-radius: 8px;
}

.zoomContent form {
  box-sizing: border-box;
}

.zoomContent input {
  display: block;
  width: calc(100% - 40px);
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}

.zoomContent textarea {
  display: block;
  width: calc(100% - 40px);
  margin: auto;
  height: 250px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
}

.zoomContent button:hover {
  opacity: 0.6;
}

button.stksubmit {
  float: left;
  color: #fff;
  border: 0;
  background-color: rgb(77, 208, 225);
  width: calc(100% - 160px);
  height: 50px;
  margin: 0px 20px 0px 20px;
  border-radius: 10px;
}

button.delete {
  float: left;
  color: #fff;
  border: 0;
  background-color: rgb(218, 52, 52);
  width: 100px;
  height: 50px;
  margin: 0px 20px 0px 0px;
  border-radius: 10px;
}

#stk_title_box {
  display: none;
}

#preview {
  display: none;
  position: relative;
  width: 300px;
  height: 300px;
  padding-bottom: 20px;
  margin: auto;
}

#preview img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  background: #555;
}

