/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - デスクトップ（デフォルトのグリッド）
   1024-768    - タブレット横長
   768-480     - タブレット縦長
   480-less    - スマホ
--------------------------------------------*/

@media all and (max-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        /*ont-family: "Sawarabi Mincho";*/
        font-family: "M PLUS 1p";
    }


    html {
        min-height: 100%;
        font-size: 16px;
        position: relative;
    }

    body {
        border: 0;
        background: rgb(217, 220, 213);
    }

    a {
        color: rgb(22, 56, 58);
        text-decoration: none;
    }

    .main_wrapper {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    .header_right {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    .js-slide {
        position: absolute;
        top: 0;
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    .header_right img {
        position: absolute;
        top: 0;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    h1 {
        position: absolute;
        font-size: 5.5vw;
        font-weight: bold;
        bottom: 10px;
        left: 10px;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 3px rgb(59, 59, 59);
    }

    .category_hide {
        display: none;
    }

    .header_left {
        position: relative;
        height: 60px;

    }

    .description {
        position: absolute;
        top: 0;
        left: 10px;
        width: 100px;
        height: 60px;
        background-color: aqua;
        background: url('./images/mtts.png') no-repeat;
        background-size: contain;
    }

    .description p {
        display: none;
    }

    .etclink {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .etclink img {
        width: 37px;
        height: 37px;
    }

    .itembox_wrapper img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    .itembox {
        position: relative;
        width: 100%;
    }

    .edit_fixed {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .item {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .title {
        padding: 0 20px;
        box-sizing: border-box;
    }

    .edittime {
        width: 100%;
        text-align: right;
        padding: 0 20px;
        box-sizing: border-box;
        font-size: 0.8em;
    }

    .category {
        display: none;
    }

    a.loginbutton {
        position: fixed;
        font-weight: bold;
        text-indent: -9999px;
        background: url('./images/key.png') no-repeat center;
        background-size: 27px;
        background-color: rgb(134, 127, 38);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        bottom: 10px;
        right: 70px;
        display: block;
        z-index: 10000;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        color: #ffffff;
    }

    a.plusbutton {
        position: fixed;
        font-weight: bold;
        font-size: 30px;
        background-color: rgb(134, 127, 38);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        bottom: 10px;
        right: 70px;
        display: block;
        z-index: 10000;
        line-height: 50px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        color: #ffffff;
    }

    a.topreturn {
        position: fixed;
        font-weight: bold;
        font-size: 30px;
        background-color: rgb(171, 71, 188);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        bottom: 10px;
        right: 10px;
        display: block;
        z-index: 10000;
        line-height: 50px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        color: #ffffff;
    }

    .mask_item {
        display: none;
    }

    .test {
        color: rgb(22, 56, 58);
        color: rgb(217, 220, 213);
        color: rgb(224, 75, 40);

    }

}