@media all and (min-width: 768px) {
    * {
        padding: 0;
        margin: 0;
        /*ont-family: "Sawarabi Mincho";*/
        font-family: "M PLUS 1p";
    }


    html {
        min-height: 100%;
        font-size: 16px;
        position: relative;
    }

    body {
        border-top: 10px solid rgb(11, 150, 209);
        background: rgb(217, 220, 213);
    }

    a,
    a:link,
    a:active {
        color: rgb(22, 56, 58);
        text-decoration: none;
        cursor: pointer;
    }

    a:hover {
        color: rgb(22, 56, 58);
        text-decoration: underline;
    }

    .header_right h1 {
        position: absolute;
        letter-spacing: 0.35em;
        width: calc(100% - 100px);
        /*bottom: 50px;*/
        bottom: 20px;
        left: 5%;
        /* font-size: 5.2vw;*/
        font-size: 1.2vw;
        /*line-height: 6vw;*/
        line-height: 1.5vw;
        font-weight: bold;
        /*color: rgb(217, 220, 213);*/
        color: white;
        text-shadow: 1px 1px 3px rgb(59, 59, 59);
    }

    .cblue {
        color: rgb(119, 213, 236);
    }

    .mtts {
        text-indent: -9999px;
        position: absolute;
        top: 110px;
        right: 20px;
        display: block;
        background: url("./images/mtts.png");
        background-size: contain;
        width: 8%;
        aspect-ratio: 13 / 9;
    }

    .main_wrapper {
        width: 1600px;
        margin: auto;
    }

    header {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 8;
        margin: auto;
    }

    .header_left {
        position: absolute;
        writing-mode: vertical-rl;
        font-weight: bold;
        width: 100px;
        height: 100%;
        top: 0;
        right: 0;
    }

    .header_right {
        position: absolute;
        width: calc(100% - 100px);
        height: 100%;
        top: 0;
        left: 0;
    }

    .header_right_top_back {
        position: absolute;
        text-indent: -9999px;
        top: 0;
        background: url("images/back_00.png") center center no-repeat;
        width: 100%;
        height: 267px;
    }

    .header_left .description {
        padding-top: 30px;
        padding-right: 30px;
        font-size: 1.5vw;
        line-height: 2vw;
        color: rgb(22, 56, 58);
        height: calc(100% - 120px);
    }

    .header_left .etclink {
        position: absolute;
        height: 120px;
        width: 100%;
        bottom: 0;
        right: 0;
    }

    .header_left .instagram img {
        position: absolute;
        top: 60px;
        left: 36px;
        width: 29px;
        aspect-ratio: 1 / 1;
    }

    .header_left .instagram img:hover {
        opacity: 0.7;
    }

    .header_right img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: 4s linear transform .4s;
        object-fit: cover;
    }

    .swis_infomation {
        position: absolute;
        top: 10px;
        right: 70px;
        width: 230px;
        height: 70px;
        border-bottom: 1px solid rgb(22, 56, 58);
        color: rgb(22, 56, 58);
        z-index: 10000;
    }

    .swis_infomation .year {
        position: absolute;
        top: 20px;
        left: 0;
        font-size: 14px;
    }

    .swis_infomation .month {
        position: absolute;
        top: 32px;
        left: 0;
        font-size: 27px;
    }

    .swis_infomation .date {
        position: absolute;
        top: 18px;
        left: 60px;
        font-size: 45px;
    }

    .swis_infomation .week {
        position: absolute;
        top: 20px;
        left: 115px;
        font-size: 12px;
    }

    .swis_infomation .ampm {
        position: absolute;
        top: 20px;
        left: 150px;
        font-size: 12px;
    }

    .swis_infomation .time {
        position: absolute;
        top: 32px;
        left: 150px;
        font-size: 27px;
    }

    .header_right .btn {
        text-align: center;
        font-size: 20px;
        display: block;
        border-radius: 20px;
        width: 150px;
        height: 40px;
        text-decoration: none;
        color: white;
    }

    .header_right .inquiry {
        position: absolute;
        background-color: rgb(224, 75, 40);
        left: 50px;
        top: 150px;

    }

    .header_right .staff {
        position: absolute;
        background-color: rgb(224, 75, 40);
        left: 50px;
        top: 90px;
    }

    .header_right .profile {
        position: absolute;
        background-color: rgb(22, 56, 58);
        left: 50px;
        top: 30px;
    }

    .header_right .btn label {
        position: absolute;
        bottom: 5px;
        left: 45px;
        display: block;
        font-size: 9px;
    }

    .header_right .btn:hover {
        opacity: 0.7;
    }

    nav {
        width: 100%;
        height: 80px;
        margin: auto;
        background: rgb(22, 56, 58);
    }

    nav dl {
        width: 1600px;
        margin: auto;
    }

    nav dd {
        position: relative;
        text-align: center;
        line-height: 27px;
        width: 160px;
        height: 80px;
        float: left;
        margin: 0px 20px;
    }

    nav a {
        padding-top: 15px;
        display: block;
        width: 160px;
        height: 80px;
        color: #ffffff;
        text-decoration: none;
        box-sizing: border-box;
    }

    nav a:hover {
        opacity: 0.7;
        color: #ffffff;
        text-decoration: underline;
    }

    nav dd label {
        font-size: 12px;
        display: block;
    }

    .over_wrapper {
        width: 100%;
        color: rgb(22, 56, 58);
    }

    .infomation {
        width: 1600px;
        margin: auto;
        padding-top: 50px;
        font-size: 18px;
        line-height: 28px;
    }

    .info_left {
        position: relative;
        float: left;
        padding: 0px 20px 20px 20px;
        width: calc(100% - 400px);
        box-sizing: border-box;
    }

    .info_right {
        position: relative;
        float: left;
        width: 400px;
        margin-bottom: 30px;
    }

    .stockphoto {
        width: 1600px;
        margin: auto;
        padding-top: 50px;
    }

    .stockphoto h2 {
        display: block;
        padding-left: 25px;
        margin-bottom: 30px;
    }

    .itembox {
        position: relative;
        width: 22%;
        aspect-ratio: 1 / 1;
        float: left;
        margin: 0px calc(12% / 8);
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
    }

    .itembox_mask {
        z-index: 10000;
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        text-indent: -9999px;
    }

    .itembox:hover {
        opacity: 0.7;
    }

    .itembox .item {
        z-index: 200;
        position: relative;
        width: 100%;
        aspect-ratio: 3 / 1;
        overflow-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item a,
    .item a:link {
        color: rgb(29, 170, 212);
    }

    .itembox img {
        z-index: 100;
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    .itembox .title {
        font-weight: bold;
    }

    .itembox .category {
        display: none;
    }

    .category_hide {
        display: none;
    }

    .itembox .edittime {
        position: relative;
        font-size: 11px;
    }

    .edit {
        z-index: 15000;
        position: absolute;
        width: 22px;
        height: 22px;
        display: block;
        border-radius: 50%;
        top: 57%;
        right: 0;
        text-indent: -9999px;
        background: url(./images/3points.png) no-repeat center;
        background-size: 70%;
    }

    .edit_fixed {
        z-index: 15000;
        position: absolute;
        width: 22px;
        height: 22px;
        display: block;
        border-radius: 50%;
        top: 0;
        right: 30px;
        text-indent: -9999px;
        background: url(./images/3points.png) no-repeat center;
        background-color: #fff;
        background-size: 70%;
    }

    .edit:hover {
        cursor: pointer;
        background-color: rgb(234, 247, 255);
    }

    .edit_fixed:hover {
        cursor: pointer;
        background-color: rgb(234, 247, 255);
    }

    a.next_btn {
        display: block;
        text-align: center;
        font-size: 18px;
        width: 300px;
        height: 50px;
        line-height: 50px;
        margin: auto;
        background: rgb(11, 150, 209);
        color: #fff;
    }

    a:hover.next_btn {
        opacity: 0.7;
    }

    .over_wrapper_2 {
        width: 100%;
        color: rgb(22, 56, 58);
        padding-bottom: 150px;
    }

    .white {
        background: #fff;
    }

    .service {
        width: 1600px;
        margin: auto;
    }

    .service h2 {
        display: block;
        padding-top: 20px;
        padding-left: 25px;
        margin-bottom: 30px;
    }

    .access {
        width: 1600px;
        margin: auto;
        margin-bottom: 100px;
    }


    footer {
        line-height: 100px;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        background: rgb(11, 150, 209);
        height: 100px;

    }

    a.staff {
        color: #fff;
    }

    a:hover {
        opacity: 0.7;
    }

    a.loginbutton {
        position: fixed;
        font-weight: bold;
        text-indent: -9999px;
        background: url('./images/key.png') no-repeat center;
        background-size: 27px;
        background-color: rgb(134, 127, 38);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        bottom: 10px;
        right: 70px;
        display: block;
        z-index: 10000;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        color: #ffffff;
    }

    a.plusbutton {
        position: fixed;
        font-weight: bold;
        font-size: 30px;
        background-color: rgb(134, 127, 38);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        bottom: 10px;
        right: 70px;
        display: block;
        z-index: 10000;
        line-height: 50px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        color: #ffffff;
    }

    a.topreturn {
        position: fixed;
        font-weight: bold;
        font-size: 30px;
        background-color: rgb(171, 71, 188);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        bottom: 10px;
        right: 10px;
        display: block;
        z-index: 10000;
        line-height: 50px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        color: #ffffff;
    }

    .mask_item {
        display: none;
    }
}

@media screen and (max-width:1600px) {
    .main_wrapper {
        width: 100%;
    }

    .stockphoto {
        width: 100%;
    }

    .service {
        width: 100%;
    }

    .infomation {
        width: 100%;
    }

    .access {
        width: 100%;
    }
}


.test {
    color: rgb(22, 56, 58);
    color: rgb(217, 220, 213);
    color: rgb(224, 75, 40);

}