* {
    padding: 0;
    margin: 0;
    border: 0;
    color: rgb(38, 50, 56);
    font-size: 16px;
}

html, body {
    height: 100%;
    background: #ddd;
}

.container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.edit_system {
    width: calc(100% - 250px);
    float: left;
    padding-bottom: 30px;
}

.edit_menu {
    width: 250px;
    height: 100%;
    float: left;
}

.edit_menu h2 {
    display: block;
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.edit_menu select {
    width: 100%;
    height: calc(100% - 50px);
    padding: 10px;
    object-fit: cover;
}

option:nth-child(2n+1) {
    background: #eee;
}


.edit_header {
    position: relative;
    width: calc(100% - 40px);
    margin: auto;
    height: 120px;
    box-sizing: border-box;
}

.mtts_logo {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    text-indent: -9999px;
    background: url("../images/mtts.png");
    background-size: contain;
    width: 100px;
    aspect-ratio: 13 / 9;
    cursor: pointer;
}

.cat_works {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    right: 140px;
    top: 80px;
    background-color: rgb(77, 208, 225);
    border-radius: 10px;
}

.cat_works:hover {
    opacity: 0.7;
}

.cat_photo {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    right: 0px;
    top: 80px;
    background-color: rgb(82, 225, 77);
    border-radius: 10px;
}

.cat_clear {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
    right: 280px;
    top: 80px;
    background-color: rgb(243, 162, 41);
    border-radius: 10px;
}

.cat_clear:hover {
    opacity: 0.7;
}

.cat_photo:hover {
    opacity: 0.7;
}

.edit_header input[type="submit"] {
    position: absolute;
    width: 200px;
    height: 40px;
    right: 0px;
    top: 10px;
}

.edit_header input[type="submit"]:hover {
    opacity: 0.7;
}

.edit_box {
    position: relative;
    width: 100%;
    line-height: 50px;
    box-sizing: border-box;
}

.edit_box form {
    height: auto;
    box-sizing: border-box;
}

.edit_box select {
    display: block;
    width: calc(100% - 40px);
    margin: auto;
    padding: 10px;
    border-radius: 8px;
}

.login_box form {
    box-sizing: border-box;
}

.edit_box label {
    display: block;
    width: calc(100% - 40px);
    margin: auto;
}

.edit_box input {
    display: block;
    width: calc(100% - 40px);
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.edit_box textarea {
    display: block;
    width: calc(100% - 40px);
    margin: auto;
    height: 250px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.edit_box button:hover {
    opacity: 0.6;
}

button.stksubmit {
    float: left;
    color: #fff;
    border: 0;
    background-color: rgb(77, 208, 225);
    width: calc(100% - 160px);
    height: 50px;
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
}

button.delete {
    float: left;
    color: #fff;
    border: 0;
    background-color: rgb(218, 52, 52);
    width: 100px;
    height: 50px;
    margin: 0px 20px 0px 0px;
    border-radius: 10px;
}


h1 {
    position: absolute;
    top: calc(50% - 260px);
    left: calc(50% - 54px);
    text-indent: -9999px;
    display: block;
    background: url(../images/mtts.png);
    background-size: cover;
    width: 156px;
    height: 108px;
}

h1 a {
    display: block;
    width: 156px;
    height: 108px;
}

.login_box {
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% - 200px);
    width: 400px;
    background: rgb(128, 222, 234);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 20px;
}

.login_box label {
    display: block;
    width: 200px;
    margin-left: 50px;
}

.login_box input {
    display: block;
    box-sizing: border-box;
}

.login_box input[type="text"] {
    width: calc(100% - 100px);
    padding: 0px 5px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
}

.login_box input[type="password"] {
    width: calc(100% - 100px);
    padding: 0px 5px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
}

.login_box input[type="submit"] {
    width: calc(100% - 100px);
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
}

.login_box input[type="submit"]:hover {
    opacity: 0.7;
}

#preview {
    display: none;
    position: relative;
    width: 600px;
    height: 150px;
    padding-bottom: 20px;
    margin: auto;
}

#preview img {
    display: block;
    width: 146px;
    height: 146px;
    object-fit: cover;
    margin: 10px 2px;
    float: left;
}

#preview a {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 10px;
    right: 10px;
    height: 27px;
    width: 27px;
    font-size: 30px;
    text-align: center;
    line-height: 27px;
    background-color: #e62525;
    display: block;
}

#preview a:hover {
    opacity: 0.7;
}

.none {
    display: none;
}

.editjoined {
    display: block;
    font-size: 21px;
    width: 100%;
    height: 100px;
    background: rgb(211, 184, 31);
    color: #fff;
    text-align: center;
    line-height: 120px;
    position: fixed;
    top: -100px;
    left: 0px;
    margin: auto;
    overflow: hidden;
    opacity: 1;
    z-index: 10000;
    animation: fadeout 2s linear forwards;
}

@keyframes fadeout {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    10% {
        opacity: 1;
        transform: translateY(100px);
    }

    90% {
        opacity: 1;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.stk_title_box {
    display: none;
}

/* === ボタンを表示するエリア ============================== */
.switchArea {
    line-height: 36px;
    letter-spacing: 0;
    text-align: center;
    font-size: 15px;
    position: absolute;
    margin: auto;
    width: 80px;
    background-color: #ffffff;
    border-radius: 18px;
    left: 120px;
    top: 30px;
}

/* === チェックボックス ==================================== */
.switchArea input[type="checkbox"] {
    display: none;
}

/* === チェックボックスのラベル（標準） ==================== */
.switchArea label {
    display: block;
    box-sizing: border-box;
    height: 36px;
    border: 2px solid #999999;
    border-radius: 18px;
}

/* === チェックボックスのラベル（ONのとき） ================ */
.switchArea input[type="checkbox"]:checked+label {
    border-color: #00b300;
}

/* === 表示する文字（標準） ================================ */
.switchArea label span:after {
    content: "OFF";
    padding: 0 0 0 21px;
    color: #999999;
}

/* === 表示する文字（ONのとき） ============================ */
.switchArea input[type="checkbox"]:checked+label span:after {
    content: "公開";
    padding: 0 21px 0 0;
    color: #00b300;
}

/* === 丸部分のSTYLE（標準） =============================== */
.switchArea #swImg {
    position: absolute;
    width: 28px;
    height: 28px;
    background: #999999;
    top: 4px;
    left: 4px;
    border-radius: 14px;
    transition: .2s;
}

/* === 丸部分のSTYLE（ONのとき） =========================== */
.switchArea input[type="checkbox"]:checked~#swImg {
    transform: translateX(44px);
    background: #00b300;
}

.switchArea input[type="submit"] {
    display: none;
}